{% extends "::base.html.twig" %}

{% block title %}AppBundle:SolutionsFormulaires:inscription{% endblock %}

{% block body %}
<h1>Inscrivez-vous</h1>
<div>
    
    {{ form(f) }}
</div>
{% endblock %}
